# Default owners for everything in this repo (require review on PRs).
# See https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @{{ github_owner }}
